# docker镜像源
DOCKER_MIRROR_DOMAIN=docker.1ms.run/
# 镜像Tag基础地址
IMAGE_TAG_BASE=registry.ap-southeast-1.aliyuncs.com/spanbin/
# 项目名，会和最终镜像命名有关
APP_NAME=my-app
# 项目对应环境
APP_ENV=uat

# debian阿里云镜像源
DEBIAN_MIRROR_DOMAIN=mirrors.aliyun.com

# nginx版本
NGINX_VERSION=1.26
# nginx开放端口号
NGINX_OPEN_PORT=8088

# php版本
PHP_VERSION=8.2-fpm
# 需要安装的php扩展
PHP_EXTENSIONS=pdo_mysql mysqli mbstring gd intl curl opcache soap bcmath zip ldap pdo_oci oci8 pdo_sqlsrv sqlsrv

# 项目里需要加密的文件或目录
ENCRYPTED_FILES=public/index.php public/test/

# MYSQL
MYSQL_VERSION=8.0.34
MYSQL_HOST_PORT=3306
MYSQL_ROOT_PASSWORD=123456
MYSQL_ROOT_HOST=%

# SQLSERVER
MSSQL_VERSION=2022-latest
MSSQL_HOST_PORT=1433
MSSQL_SA_PASSWORD=z6pgVR5f
MSSQL_COLLATION=Chinese_PRC_CI_AS
MSSQL_PID=EnterpriseCore